WebServiceSAAP/WebContent/wsdl/RegistrarCarreras.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://funciones.servicios.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://funciones.servicios.com" xmlns:intf="http://funciones.servicios.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://funciones.servicios.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="registrarusuario">
    <complexType>
     <sequence>
      <element name="nombres" type="xsd:string"/>
      <element name="apellidos" type="xsd:string"/>
      <element name="correo" type="xsd:string"/>
      <element name="cedula" type="xsd:string"/>
      <element name="user" type="xsd:string"/>
      <element name="contrasena" type="xsd:string"/>
      <element name="estado" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="registrarusuarioResponse">
    <complexType>
     <sequence>
      <element name="registrarusuarioReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="registrar">
    <complexType>
     <sequence>
      <element name="id_tarifa" type="xsd:int"/>
      <element name="id_pasajero" type="xsd:int"/>
      <element name="user" type="xsd:string"/>
      <element name="contrasena" type="xsd:string"/>
      <element name="origen" type="xsd:string"/>
      <element name="destino" type="xsd:string"/>
      <element name="tiempo" type="xsd:string"/>
      <element name="velocidad" type="xsd:double"/>
      <element name="precio" type="xsd:double"/>
      <element name="fecha" type="xsd:string"/>
      <element name="estado" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="registrarResponse">
    <complexType>
     <sequence>
      <element name="registrarReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="registrarRequest">

      <wsdl:part element="impl:registrar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registrarResponse">

      <wsdl:part element="impl:registrarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registrarusuarioResponse">

      <wsdl:part element="impl:registrarusuarioResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registrarusuarioRequest">

      <wsdl:part element="impl:registrarusuario" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="RegistrarCarreras">

      <wsdl:operation name="registrarusuario">

         <wsdl:input message="impl:registrarusuarioRequest" name="registrarusuarioRequest">

       </wsdl:input>

         <wsdl:output message="impl:registrarusuarioResponse" name="registrarusuarioResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registrar">

         <wsdl:input message="impl:registrarRequest" name="registrarRequest">

       </wsdl:input>

         <wsdl:output message="impl:registrarResponse" name="registrarResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RegistrarCarrerasSoapBinding" type="impl:RegistrarCarreras">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="registrarusuario">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registrarusuarioRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registrarusuarioResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registrar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registrarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registrarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RegistrarCarrerasService">

      <wsdl:port binding="impl:RegistrarCarrerasSoapBinding" name="RegistrarCarreras">

         <wsdlsoap:address location="http://localhost:8080/WebServiceSAAP/services/RegistrarCarreras"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
