WebServiceSAAP/WebContent/wsdl/RegistrarCarreras.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://funciones.servicios.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://funciones.servicios.com" xmlns:intf="http://funciones.servicios.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://funciones.servicios.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="validacionusuario">
    <complexType>
     <sequence>
      <element name="userr" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="validacionusuarioResponse">
    <complexType>
     <sequence>
      <element name="validacionusuarioReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="registrarusuario">
    <complexType>
     <sequence>
      <element name="nombres" type="xsd:string"/>
      <element name="apellidos" type="xsd:string"/>
      <element name="correo" type="xsd:string"/>
      <element name="cedula" type="xsd:string"/>
      <element name="user" type="xsd:string"/>
      <element name="contrasena" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="registrarusuarioResponse">
    <complexType>
     <sequence>
      <element name="registrarusuarioReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="registrarcarrera">
    <complexType>
     <sequence>
      <element name="id_tarifa" type="xsd:int"/>
      <element name="user" type="xsd:string"/>
      <element name="origen" type="xsd:string"/>
      <element name="destino" type="xsd:string"/>
      <element name="tiempo" type="xsd:string"/>
      <element name="km_recorridos" type="xsd:double"/>
      <element name="precio" type="xsd:double"/>
      <element name="fecha" type="xsd:string"/>
      <element name="latitud_origen" type="xsd:double"/>
      <element name="longitud_origen" type="xsd:double"/>
      <element name="latitud_destino" type="xsd:double"/>
      <element name="longitud_destino" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="registrarcarreraResponse">
    <complexType>
     <sequence>
      <element name="registrarcarreraReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="iniciarsesion">
    <complexType>
     <sequence>
      <element name="user" type="xsd:string"/>
      <element name="contrasena" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="iniciarsesionResponse">
    <complexType>
     <sequence>
      <element name="iniciarsesionReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="registrarcarreraRequest">

      <wsdl:part element="impl:registrarcarrera" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registrarcarreraResponse">

      <wsdl:part element="impl:registrarcarreraResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registrarusuarioResponse">

      <wsdl:part element="impl:registrarusuarioResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="iniciarsesionResponse">

      <wsdl:part element="impl:iniciarsesionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registrarusuarioRequest">

      <wsdl:part element="impl:registrarusuario" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="validacionusuarioRequest">

      <wsdl:part element="impl:validacionusuario" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="iniciarsesionRequest">

      <wsdl:part element="impl:iniciarsesion" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="validacionusuarioResponse">

      <wsdl:part element="impl:validacionusuarioResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="RegistrarCarreras">

      <wsdl:operation name="validacionusuario">

         <wsdl:input message="impl:validacionusuarioRequest" name="validacionusuarioRequest">

       </wsdl:input>

         <wsdl:output message="impl:validacionusuarioResponse" name="validacionusuarioResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registrarusuario">

         <wsdl:input message="impl:registrarusuarioRequest" name="registrarusuarioRequest">

       </wsdl:input>

         <wsdl:output message="impl:registrarusuarioResponse" name="registrarusuarioResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registrarcarrera">

         <wsdl:input message="impl:registrarcarreraRequest" name="registrarcarreraRequest">

       </wsdl:input>

         <wsdl:output message="impl:registrarcarreraResponse" name="registrarcarreraResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="iniciarsesion">

         <wsdl:input message="impl:iniciarsesionRequest" name="iniciarsesionRequest">

       </wsdl:input>

         <wsdl:output message="impl:iniciarsesionResponse" name="iniciarsesionResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RegistrarCarrerasSoapBinding" type="impl:RegistrarCarreras">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="validacionusuario">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="validacionusuarioRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="validacionusuarioResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registrarusuario">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registrarusuarioRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registrarusuarioResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registrarcarrera">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registrarcarreraRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registrarcarreraResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="iniciarsesion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="iniciarsesionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="iniciarsesionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RegistrarCarrerasService">

      <wsdl:port binding="impl:RegistrarCarrerasSoapBinding" name="RegistrarCarreras">

         <wsdlsoap:address location="http://localhost:8080/WebServiceSAAP/services/RegistrarCarreras"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
